.no-result {
    width: 100%;
    display: block;
    margin: 20px 0;
    float: left;
    padding: 10px;
    background-color: #fff;
    text-align: center;
}

.items {
    width: 100%;
    display: block;
    margin: 20px 0;
    float: left;
}

.items .item {
    width: calc(31% - 10px);
    margin: 1% 1% 1% 0;
    float: left;
    padding: 10px;
    background-color: #fff;
}