body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  display: block;
  background-color: #000;
}

.page-container {
  width: 100%;
  display: block;
}

.page-content {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: block;
}

.page-bg {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.image {
  width: 100%;
  display: block;
}

.image-contain {
  object-fit: contain;
  object-position: center;
}

.categories {
  width: 70%;
  display: block;
  height: 150px;
  position: absolute;
  z-index: 3;
  margin: 0 15%;
}

.categories ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.categories ul li {
  display: inline;
  width: 25%;
  float: left;
}

.categories ul li a {
  width: 98%;
  margin: 0 1%;
  display: block;
  color: #000;
  background: #fff;
  padding: 20px 0;
  float: left;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.categories ul li a:hover {
  transition: 0.3s;
  background: #000;
  color: #fff;
}

.button {
  font-size: 12px;
  padding: 5px;
  text-transform: uppercase;
  background-color: #3161a3;
  color: #fff;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #f1f1f1;
  color: #000;
  transition: 0.3s;
}

.window {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 300;
  padding: 20px;
  font-size: 20px;
  color: #000;
}

@media only screen and (max-width: 767px) {
  .categories ul li {
      display: block;
      width: 50%;
      float: left;
  }
  .categories ul li a {
    margin: 0 1% 2% 1%;
  }
  .items .item { 
    width: calc(100% - 20px);
    margin: 0 0 1% 0;
  }
  .no-result {
    width: calc(100% - 20px);
  }
}